<div class="cours">
    <div class="item" *ngFor="let item of courses;" >
        <div class="top-content">
            <span class="course-title">{{item.courseName}}</span>
            <button class="more-btn" (click)="toggleOptions(item)"><i class="fa-solid fa-ellipsis-vertical"></i></button>
            <ul class="options-list" *ngIf="selectedItem === item && showOptions == true">
                <li><a> <i class="fa-solid fa-pen-to-square"></i> Modifier</a></li>
                <li><a> <i class="fa-solid fa-trash"></i> Supprimer</a></li>
            </ul>
        </div>
        <div class="info">
            <span>{{item.description}}</span>
            <div class="attached-file">Fichiers attachés <i class="fa-solid fa-file"></i> :
                <span>{{item.numberFiles}}</span></div>
        </div>
        <div class="msgs-date">
            <button class="msgs"><i class="fa-regular fa-message"></i>
                <div class="new-msg"></div>
            </button>
            <span class="date"><i class="fa-solid fa-calendar-days"></i> {{ formatDate(item.date) }}</span>
        </div>
    </div>
</div>