<div class="container">
    <div class="content">
      <img src="assets/logoWhite.png" alt="logo" class="logoImg">
    <div class="text">
      <p>Rim, Welcome back to the dashboard!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
    </div>
    <div class="options">
        <span><i class="fa-solid fa-gear"></i></span>
        <span><i class="fa-solid fa-right-from-bracket sidenav-link-icon"></i></span>
    </div>
    </div>
    <div class="info-section">
        <img src="assets/dashboard-imgs/no-img.png" alt="userImg" class="studentImg">
        <div class="name-email">
           <span class="name">Rim Hassani Idrissi</span>
           <span class="email">rimhassaniidrissi18@gmail.com</span>
        </div>
    </div>  
</div>
