.dialog{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
    .title{
        color: var(--blue);
        font-size: 18px;
    }
    .login-btn{
        border: none;
        background-color: var(--blue);
        color: white;
        width: 30%;
        padding: 8px 12px;
    }
}