<div class="container">
  <div class="principle-title">
  <h3>Les étudiants ont déjà accédé à votre classe</h3>
  </div>
  <div class="students-list">
    <div class="number-students">Nombre des étudiants :  {{numberStudents}}</div>
    <div class="content">
      <table>
        <thead>
          <tr class="head">
            <td></td>
            <td>Nom</td>
            <td>Email</td>
            <td>Note</td>
            <td>Autre</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td><img src="assets/classes-imgs/boyImg.png" width="40" height="40" class="imgStudent"></td>
            <td class="name-student">{{student.firstName}} {{student.lastName}}</td>
            <td class="email">{{student.email}}</td>
            <td class="note">{{student.note}}</td>
            <td class="view"><button class="view-btn" (click)="openDialog(student)"><i class="fa-solid fa-eye"></i> Voir plus d'infos</button></td>
            <td class="delete"><button class="delete-btn" (click)="deleteStudent(student.id)"><i class="fa-solid fa-trash-can"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>