.body {
  width: calc(100% - 16.6525rem);
  height: 100vh;
  margin-left: 16.6525rem;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #f4f7fa;
}


.small-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body-md {
  width: calc(100% - 16.6525rem);
  margin-left: 16.6525rem;
}