<div class="student-container">
    <div class="img-name">
        <img src="assets/classes-imgs/no-img.png" class="imgStudent">
        <span class="name">Chorouk EL BOJADDAINI</span>
    </div>
    <div class="infos">
         <div class="personal-details">
            <h4>Details personnels</h4>
            <div class="detail">
                <label>Adresse mail : </label>
                <span>choroukelbojaddaini1111@gmail.con</span>
            </div>
            <div class="detail">
                <label>Genre : </label>
                <span>Femme</span>
            </div>
         </div>
         <div class="class-details">
            <h4>Details de classe</h4>
            <div class="detail">
                <label>Filière : </label>
                <span>Génie informatique</span>
            </div>
            <div class="detail">
                <label >Niveau : </label>
                <span>4ème année</span>
            </div>
            <div class="detail">
                <label>Note : </label>
                <span>19</span>
            </div>
         </div>
    </div>
    <button class="close-btn">Fermer</button>
</div>