 <div class="container">

   
    <div class="middle-content">
        
        <!-- <h3 class="section-name">Dashboard</h3>
        <div class="welcome-carte">
             <div class="welcome-text">
                <span>WELCOME <span class="name">Ms. Anna Marita</span></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                </p>
                <p>Have a nice day !</p>
            </div>
                <img src="assets/dashboard-imgs/Education.png" alt="education" class="imgCard">
        </div>  -->
    </div> 
      <app-profile-dashboard class="profile"></app-profile-dashboard> 
  </div>  