<div class="container">
    <h3 class="title">Profile</h3>
    <div class="middle-content">
        <div class="infos-section">
            <img [src]="professor.image" alt="professor-image" class="img">
            <h4 class="name">{{professor.firstName}} {{professor.lastName}}</h4>
            <h4 class="email">{{professor.email}}</h4>
            <div>
            <i class="fa-solid fa-users"></i> {{professor.numberStudents}} students
            </div>
            <div>
                <i class="fa-regular fa-file"></i> {{professor.numberCourses}} courses
            </div>
        </div>
        <div class="details">
            <div class="basic-infos">
                <h3>Informations basiques</h3>
                <form action="" class="form-basic-infos">
                   <div class="name-inputs">
                    <label for="">Nom : </label>
                    <input type="text" [placeholder]="professor.lastName">
                    <label for="">Prenom : </label>
                    <input type="text" [placeholder]="professor.firstName">
                   </div>
                    <div class="email-input">
                        <label for="">Email : </label>
                    <input type="text" [placeholder]="professor.email">
                    </div>
                </form>
            </div>
            <div class="password-section">
                <h3>Modifier votre Mot de passe</h3>
                <form action="" class="password-form">
                    <label>Mot de passe :</label>
                    <input type="password">
                    <label>Confirmation de mot de passe :</label>
                    <input type="password">
                </form>
            </div>
        </div>
    </div>
</div>