.container {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .title {
        color: var(--grey2);
        font-weight: 400;
        font-size: 18px;
        margin-top: 15px;
        float: left;
        padding: 30px;
    }
    .middle-content{
        display: flex;
        flex-wrap: wrap;
        margin: 0 45px;
        .infos-section {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 50px;
            height: fit-content;
            background-color: white;
            margin: 15px;
            justify-content: center;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    
            .img {
                width: 10rem;
                height: 10rem;
            }
            .number {
                .fa-solid,.fa-regular{
                    color: var(--grey-main);
                }
            }
        }
        .details{
            flex: 1 1 0;
            width: fit-content;
            padding: 20px;
            height: fit-content;
            background-color: white;
            margin: 15px;
            justify-content: center;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            .form-basic-infos{
                background-color: white;
                // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
                border: 1px solid var(--grey-main);
                padding: 15px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 15px;
                
            }
        }
    }
}