.container{
    margin: 20px 20px;
    height: fit-content;
    .join-btn{
        margin-top: 25px;
       margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--dark-pink);
        padding: 12px;
        color: white;
        font-size: .9rem;
        cursor: pointer;
    }
    .join-btn:hover{
        background-color: var(--pink);
    }
    .content{
        padding-bottom: 15px;
        .form-section{
            border: 1px solid var(--grey2);
            border-radius: 5px;
            height: 100px;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            line-height: 2;
            margin: auto;
            .form-title{
                font-size: 18px;
                font-weight: 500;
                color: var(--pink);
            }
            .description{
                color: var(--grey);
            }
            form{
                .input{
                    border: none;
                    border-radius: 5px;
                    border:1px solid var(--grey2);
                    padding: 8px;
                    margin-top: 8px;
                }
                .submit-btn{
                    margin-left: 35px;
                    border: none;
                    padding: 8px;
                    border-radius: 5px;
                    color: white;
                    background-color: var(--blue);
                    cursor: pointer;
                }
            }
            .codeNotFound{
                color: rgb(230, 53, 53);
                margin-top: 15px;
                text-align: center;
            }
        }
    }
   
    .courses{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 25px;
        padding-bottom: 25px;
        .course-item{
           border: 1px solid var(--grey2);
           width: 25%;
           border-radius: 5px;
           cursor: pointer;
           line-height: 1.5;
           .info-field{
            display: flex;
            flex-direction: column;
            background-color: var(--blue);
            color: white;
            position: relative;
           padding: 18px;
           .teacher-img{
            width: 80px;
            height: 80px; 
            position: absolute;
            top: 89px;
            right: 8px;
            
           }
           }
           .btn{
            padding: 25px;
            text-align: center;
            .view-btn{
                border: none;
                background-color: white;
                border: 1px solid var(--blue);
                border-radius: 10px;
                color: var(--blue);
                padding: 8px 15px;
                cursor: pointer;
            }
            .view-btn:hover{
                background-color: var(--blue);
                color: white;
            }
           }
        }
        .course-item:hover{
            box-shadow: 2px 2px 4px rgba(126, 126, 126, 0.5);
            .info-field{
                .module-name{
                    text-decoration: underline;
                }
            }
        }
    }
    .content-courses{
        padding-bottom: 25px;
        .title{
            display: flex;
            gap: 20px;
            color: var(--dark-pink);
            .return-btn{
                border: none;
                color: var(--grey);
                background-color: transparent;
                font-size: 21px;
                cursor: pointer;
            }
        }
    }
}