.container{
    margin: 20px 20px;
    height: fit-content;
    .join-btn{
        margin-top: 25px;
       margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--dark-pink);
        padding: 12px;
        color: white;
        font-size: .9rem;
        cursor: pointer;
    }
    .join-btn:hover{
        background-color: var(--pink);
    }
    .content{
        padding-bottom: 15px;
        .form-section{
            border: 1px solid var(--grey2);
            border-radius: 5px;
            height: 100px;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            line-height: 2;
            margin: auto;
            .form-title{
                font-size: 18px;
                font-weight: 500;
                color: var(--pink);
            }
            .description{
                color: var(--grey);
            }
            form{
                .input{
                    border: none;
                    border-radius: 5px;
                    border:1px solid var(--grey2);
                    padding: 8px;
                    margin-top: 8px;
                }
                .submit-btn{
                    margin-left: 35px;
                    border: none;
                    padding: 8px;
                    border-radius: 5px;
                    color: white;
                    background-color: var(--blue);
                    cursor: pointer;
                }
            }
            .codeNotFound{
                color: rgb(230, 53, 53);
                margin-top: 15px;
                text-align: center;
            }
        }
    }
   
    .classes{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 25px;
        padding-bottom: 25px;
        .classe-item{
           border: 1px solid var(--grey2);
           width: 25%;
           border-radius: 5px;
           cursor: pointer;
           line-height: 1.5;
           .info-field{
            display: flex;
            flex-direction: column;
            background-color: var(--blue);
            color: white;
            position: relative;
           padding: 18px;
           .teacher-img{
            width: 80px;
            height: 80px; 
            position: absolute;
            top: 89px;
            right: 8px;
            
           }
           }
           .btn{
            padding: 25px;
            text-align: center;
            .view-btn{
                border: none;
                background-color: white;
                border: 1px solid var(--blue);
                border-radius: 10px;
                color: var(--blue);
                padding: 8px 15px;
                cursor: pointer;
            }
            .view-btn:hover{
                background-color: var(--blue);
                color: white;
            }
           }
        }
        .course-item:hover{
            box-shadow: 2px 2px 4px rgba(126, 126, 126, 0.5);
            .info-field{
                .module-name{
                    text-decoration: underline;
                }
            }
        }
    }
    .content-courses{
        padding-bottom: 25px;
        .title{
            display: flex;
            gap: 20px;
            color: var(--dark-pink);
            .return-btn{
                border: none;
                color: var(--grey);
                background-color: transparent;
                font-size: 21px;
                cursor: pointer;
            }
        }
    }
}


.courses{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
   .item {
    cursor: pointer;
    width: 330px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    .top-content {
        border-radius: 10px 10px 0 0;
        padding: 8px;
        width: 100%;
        height: fit-content;
        background-color: var(--blue);
        color: white;
        position: relative;

        .course-title {
            font-size: 1.1rem;
            font-weight: 600;
            margin-right: 25px;
        }

        .more-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 10px;
            right: 10px;

            .fa-ellipsis-vertical {
                color: white;
                font-size: 1rem;
            }
        }

        .options-list {
            position: absolute;
            top: 25px;
            right: 10px;
            background-color: white;
            color: var(--grey-main);
            padding: 10px;
            border-radius: 5px;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            li {
                margin-bottom: 10px;

                a {
                    cursor: pointer;
                    padding: 5px;

                    .fa-solid {
                        margin-right: 5px;
                    }
                }

                a:hover {
                    background-color: var(--grey);
                    border-radius: 5px;
                }
            }
        }
    }

    .info {
        border-bottom: 1px solid var(--grey-main);
        padding: 12px;
        padding-bottom: 15px;
.attached-file{
color: var(--grey2);
.fa-file{
    // color: var(--blue);
    margin:0 4px ;
}
span{
    margin-left: 8px;
}
}
    }

    .info>* {
        margin-top: 10px;
    }

    .msgs-date {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        padding: 8px;

        .msgs {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: var(--blue);
            font-size: 1.1rem;
            position: relative;

            .new-msg {
                background-color: #4894ac;
                width: 6px;
                height: 6px;
                clip-path: circle(50%);
                position: absolute;
                top: 1px;
                right: -1px;
            }
        }

        .date {
            color: var(--blue);
            font-size: 1rem;

            .fa-calendar-days {
                margin-right: 5px;
                font-size: 1.1rem;
            }
        }
    }
} 

}
