h4{
    padding: 8px;
    color:var(--pink);
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10px;
}
mat-dialog-content{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    label{
        color: black;
        font-weight: 500;
    }
    input{
        outline: none;
        border:1px solid var(--blue);
        padding: 5px;
    }
    input::placeholder{
        color: var(--grey2);
    }
}
mat-dialog-actions{
    padding: 8px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    button{
        border: none;
        cursor: pointer;
        background-color: var(--blue);
        padding: 8px;
        color: white;
        border-radius: 5px;
    }
}