<app-hero></app-hero>

<div class="cards"> 
   <div class="card" *ngFor="let card of cards">
    <app-card [title]="card.title" [imagePath]="card.imagePath" (buttonClick)="toggleContent(card.title)"></app-card>
   </div>
 </div> 
 <div *ngIf="selectedCard === 'Course'">
    <app-courses-student></app-courses-student>
 </div>
 <div *ngIf="selectedCard === 'Messages'">
   <app-messages-student></app-messages-student>
 </div>
 <div *ngIf="selectedCard === 'Notes'">
   <app-notes-student></app-notes-student>
 </div>