<app-navbar></app-navbar>
<div class="container">
    <div class="form-section">
        <h3 class="title">Inscription</h3>
        <form action="">
           <div class="form-field">
            <label class="label">Nom</label>
            <input type="text" class="input">
           </div>
           <div class="form-field">
            <label class="label">Prénom</label>
            <input type="text" class="input">
           </div>
           <div class="forget-submit">
            <button type="submit" class="submit-btn">S'inscrire</button>
           </div>
        </form>
        <p class="create-account">Voulez-vous crer un compte ? <a class="register">S'inscrire</a></p>
    </div>
</div>