<app-navbar></app-navbar>
<div class="home-content">
    <div class="title-section">
        <h1 class="title">Suivez vos cours en ligne avec vos professeurs</h1>
        <p>Accès facile à cours attribués par vos professeurs permettant de bien gérer son temps </p>
        <p>Envoyer des messages à vos professeur sur des cours </p>
        <p>Vous comme professeur attribuez des cours à vos classes</p>
        <p>Donnez vous les professeurs des notes </p>
        <button class="decouvrir-btn"> <i class="fa-solid fa-arrow-right"></i> Découvrir</button>
    </div>
    <div class="img-section">
        <img src="assets/imgHome.svg" class="img">
    </div>
</div>