.btns{
    display: flex;
gap: 15px;
margin-bottom: 15px;
    button{
        border: none;
        background-color: var(--dark-pink);
        color: white;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--pink);
    }
}

    // .item:nth-child(even){
    //     .top-content{
    //         background-color: var(--dark-pink);
    //     }
    // }
   

#paginator{
  position: absolute;
  right: 15px;
  bottom: 15px;
}