.navbar {
    background-color: var(--blue);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     height: 70px;
    .logo-section {
        display: flex;
        align-items: center;

        .logoImg {
            margin-right: 10px;
            cursor: pointer;
        }

        .LogoName {
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .nav-items {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin-right: 20px;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .SignIn-btn {
        background-color: var(--dark-pink);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--pink);
        }
    }
}
