<div class="content">
    <h3>Les étudiants ont déjà accédé à votre classe</h3>
    <div class="students-list">
        <span>Nombre des étudiants : 45</span>
        <mat-form-field class="custom-mat-form-field">
            <mat-label>Trié par</mat-label>
            <mat-select class="custom-mat-select">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>