<div class="container">
  <h3>Les étudiants ont déjà accédé à votre classe</h3>
  <div class="students-list">
    <span>Nombre des étudiants : 45</span>
    <!-- <mat-form-field class="custom-mat-form-field">
            <mat-label>Trié par</mat-label>
            <mat-select class="custom-mat-select">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field> -->
    <div class="content">
      <div class="student-info" *ngFor="let student of students">
        <div class="name-img">
          <img src="assets/classes-imgs/imgStudent.jpg" alt="studentImg" class="studentImg">
          <div class="fullName">
                        <h4>{{student.lastName}}</h4>
            <h4>{{student.firstName}}</h4>
          </div>
          <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>